{
  "openapi": "3.1.0",
  "info": {
    "title": "Octura Solutions Site Tools",
    "version": "1.0.0",
    "summary": "Model Context Protocol server with 30 read-only tools, over JSON-RPC 2.0.",
    "description": "This is a Model Context Protocol (MCP) server, so the whole API is one POST endpoint that speaks JSON-RPC 2.0.\nThe methods it implements are `initialize`, `ping`, `tools/list` and `tools/call`; it advertises no resources and no prompts and keeps no session state.\n\nThe 30 tools are listed under components as `<ToolName>Input`. Every calculator input has a documented default, so a tool called with `{}` returns a sensible baseline rather than an error.\n\nDeterministic ERP calculators and estimators from Octura Solutions (Odoo implementation/migration/upgrade cost, ROI, TCO, odoo.conf tuning, EDI readiness, sales tax, payroll, inventory math). Every calculator clamps invalid input to safe defaults and returns the normalized input it actually used alongside the result. Content tools answer questions about Odoo and Octura: ask_octura retrieves relevant site pages to cite, compare_odoo_vs returns a head-to-head against any of 60 competitors, and get_odoo_pricing, find_odoo_apps_for and get_partner_profile return pricing, app recommendations and company facts. All tools are read-only.\n\nNo authentication. Rate limited per IP; over the limit returns 429 with a Retry-After header.\n\nGenerated by scripts/build-discovery.mjs in https://github.com/Octura-solutions/octura-mcp-server from the live tools/list, so it is a snapshot: the server, not this file, is the source of truth.",
    "termsOfService": "https://octurasolutions.com/terms-and-conditions",
    "contact": {
      "name": "Octura Solutions",
      "url": "https://octurasolutions.com/tools/mcp-server",
      "email": "curious@octurasolutions.com"
    },
    "license": {
      "name": "MIT (this document)",
      "identifier": "MIT"
    }
  },
  "externalDocs": {
    "description": "Server page with the full tool list and worked examples",
    "url": "https://octurasolutions.com/tools/mcp-server"
  },
  "servers": [
    {
      "url": "https://octurasolutions.com"
    }
  ],
  "tags": [
    {
      "name": "mcp",
      "description": "Model Context Protocol over streamable HTTP"
    }
  ],
  "paths": {
    "/mcp": {
      "post": {
        "tags": [
          "mcp"
        ],
        "operationId": "jsonrpc",
        "summary": "Send one JSON-RPC 2.0 request",
        "description": "Send `Accept: application/json, text/event-stream`. Responses are plain JSON.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/InitializeRequest"
                  },
                  {
                    "$ref": "#/components/schemas/PingRequest"
                  },
                  {
                    "$ref": "#/components/schemas/ToolsListRequest"
                  },
                  {
                    "$ref": "#/components/schemas/ToolsCallRequest"
                  }
                ]
              },
              "examples": {
                "toolsList": {
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 1,
                    "method": "tools/list",
                    "params": {}
                  }
                },
                "roi": {
                  "summary": "Call a calculator",
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 2,
                    "method": "tools/call",
                    "params": {
                      "name": "odoo-roi-calculator",
                      "arguments": {
                        "currentAnnualCost": 60000,
                        "odooAnnualCost": 18000,
                        "implementationCost": 45000,
                        "annualEfficiencySavings": 30000
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC result or error object (application-level errors still return HTTP 200).",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests allowed per window, per IP."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests left in the current window."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/InitializeResult"
                    },
                    {
                      "$ref": "#/components/schemas/PingResult"
                    },
                    {
                      "$ref": "#/components/schemas/ToolsListResult"
                    },
                    {
                      "$ref": "#/components/schemas/ToolsCallResult"
                    },
                    {
                      "$ref": "#/components/schemas/JsonRpcError"
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded for this IP.",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests allowed per window, per IP."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "Requests left in the current window."
              },
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds to wait."
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "JsonRpcId": {
        "oneOf": [
          {
            "type": "string"
          },
          {
            "type": "integer"
          }
        ]
      },
      "JsonRpcError": {
        "type": "object",
        "required": [
          "jsonrpc",
          "id",
          "error"
        ],
        "properties": {
          "jsonrpc": {
            "const": "2.0"
          },
          "id": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/JsonRpcId"
              },
              {
                "type": "null"
              }
            ]
          },
          "error": {
            "type": "object",
            "required": [
              "code",
              "message"
            ],
            "properties": {
              "code": {
                "type": "integer"
              },
              "message": {
                "type": "string"
              },
              "data": {}
            }
          }
        }
      },
      "InitializeRequest": {
        "type": "object",
        "required": [
          "jsonrpc",
          "id",
          "method",
          "params"
        ],
        "properties": {
          "jsonrpc": {
            "const": "2.0"
          },
          "id": {
            "$ref": "#/components/schemas/JsonRpcId"
          },
          "method": {
            "const": "initialize"
          },
          "params": {
            "type": "object",
            "required": [
              "protocolVersion",
              "capabilities",
              "clientInfo"
            ],
            "properties": {
              "protocolVersion": {
                "type": "string",
                "examples": [
                  "2025-06-18"
                ]
              },
              "capabilities": {
                "type": "object"
              },
              "clientInfo": {
                "type": "object",
                "required": [
                  "name",
                  "version"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "version": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "InitializeResult": {
        "type": "object",
        "required": [
          "jsonrpc",
          "id",
          "result"
        ],
        "properties": {
          "jsonrpc": {
            "const": "2.0"
          },
          "id": {
            "$ref": "#/components/schemas/JsonRpcId"
          },
          "result": {
            "type": "object",
            "properties": {
              "protocolVersion": {
                "type": "string"
              },
              "capabilities": {
                "type": "object"
              },
              "serverInfo": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "title": {
                    "type": "string"
                  },
                  "version": {
                    "type": "string"
                  }
                }
              },
              "instructions": {
                "type": "string"
              }
            },
            "examples": [
              {
                "protocolVersion": "2025-06-18",
                "capabilities": {
                  "tools": {
                    "listChanged": false
                  }
                },
                "serverInfo": {
                  "name": "com.octurasolutions/site-tools",
                  "title": "Octura Solutions Site Tools",
                  "version": "1.0.0"
                },
                "instructions": "Deterministic ERP calculators and estimators from Octura Solutions (Odoo implementation/migration/upgrade cost, ROI, TCO, odoo.conf tuning, EDI readiness, sales tax, payroll, inventory math). Every calculator clamps invalid input to safe defaults and returns the normalized input it actually used alongside the result. Content tools answer questions about Odoo and Octura: ask_octura retrieves relevant site pages to cite, compare_odoo_vs returns a head-to-head against any of 60 competitors, and get_odoo_pricing, find_odoo_apps_for and get_partner_profile return pricing, app recommendations and company facts. All tools are read-only."
              }
            ]
          }
        }
      },
      "PingRequest": {
        "type": "object",
        "required": [
          "jsonrpc",
          "id",
          "method"
        ],
        "properties": {
          "jsonrpc": {
            "const": "2.0"
          },
          "id": {
            "$ref": "#/components/schemas/JsonRpcId"
          },
          "method": {
            "const": "ping"
          },
          "params": {
            "type": "object"
          }
        }
      },
      "PingResult": {
        "type": "object",
        "required": [
          "jsonrpc",
          "id",
          "result"
        ],
        "properties": {
          "jsonrpc": {
            "const": "2.0"
          },
          "id": {
            "$ref": "#/components/schemas/JsonRpcId"
          },
          "result": {
            "type": "object",
            "maxProperties": 0
          }
        }
      },
      "ToolsListRequest": {
        "type": "object",
        "required": [
          "jsonrpc",
          "id",
          "method"
        ],
        "properties": {
          "jsonrpc": {
            "const": "2.0"
          },
          "id": {
            "$ref": "#/components/schemas/JsonRpcId"
          },
          "method": {
            "const": "tools/list"
          },
          "params": {
            "type": "object",
            "properties": {
              "cursor": {
                "type": "string"
              }
            }
          }
        }
      },
      "ToolsListResult": {
        "type": "object",
        "required": [
          "jsonrpc",
          "id",
          "result"
        ],
        "properties": {
          "jsonrpc": {
            "const": "2.0"
          },
          "id": {
            "$ref": "#/components/schemas/JsonRpcId"
          },
          "result": {
            "type": "object",
            "required": [
              "tools"
            ],
            "properties": {
              "tools": {
                "type": "array",
                "items": {
                  "type": "object",
                  "required": [
                    "name",
                    "inputSchema"
                  ],
                  "properties": {
                    "name": {
                      "type": "string",
                      "enum": [
                        "ask_octura",
                        "canadian-payroll-source-deductions-calculator",
                        "canadian-sales-tax-calculator",
                        "compare_odoo_vs",
                        "economic-order-quantity-calculator",
                        "erp-selection-tool",
                        "eu-vat-calculator",
                        "find_odoo_apps_for",
                        "get_odoo_pricing",
                        "get_partner_profile",
                        "inventory-carrying-cost-calculator",
                        "inventory-turnover-calculator",
                        "landed-cost-calculator",
                        "margin-and-markup-calculator",
                        "odoo-app-selector",
                        "odoo-conf-tuner",
                        "odoo-edi-readiness-cost-estimator",
                        "odoo-implementation-cost-calculator",
                        "odoo-migration-cost-calculator",
                        "odoo-project-rescue-risk-grader",
                        "odoo-roi-calculator",
                        "odoo-sh-pricing-calculator",
                        "odoo-stack-savings-calculator",
                        "odoo-total-cost-of-ownership-calculator",
                        "odoo-upgrade-cost-calculator",
                        "oee-calculator",
                        "reorder-point-calculator",
                        "safety-stock-calculator",
                        "us-sales-tax-calculator",
                        "us-sales-tax-nexus-checker"
                      ]
                    },
                    "title": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "inputSchema": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "ToolsCallRequest": {
        "type": "object",
        "required": [
          "jsonrpc",
          "id",
          "method",
          "params"
        ],
        "properties": {
          "jsonrpc": {
            "const": "2.0"
          },
          "id": {
            "$ref": "#/components/schemas/JsonRpcId"
          },
          "method": {
            "const": "tools/call"
          },
          "params": {
            "description": "The tool name selects which arguments schema applies.",
            "oneOf": [
              {
                "$ref": "#/components/schemas/AskOcturaCall"
              },
              {
                "$ref": "#/components/schemas/CanadianPayrollSourceDeductionsCalculatorCall"
              },
              {
                "$ref": "#/components/schemas/CanadianSalesTaxCalculatorCall"
              },
              {
                "$ref": "#/components/schemas/CompareOdooVsCall"
              },
              {
                "$ref": "#/components/schemas/EconomicOrderQuantityCalculatorCall"
              },
              {
                "$ref": "#/components/schemas/ErpSelectionToolCall"
              },
              {
                "$ref": "#/components/schemas/EuVatCalculatorCall"
              },
              {
                "$ref": "#/components/schemas/FindOdooAppsForCall"
              },
              {
                "$ref": "#/components/schemas/GetOdooPricingCall"
              },
              {
                "$ref": "#/components/schemas/GetPartnerProfileCall"
              },
              {
                "$ref": "#/components/schemas/InventoryCarryingCostCalculatorCall"
              },
              {
                "$ref": "#/components/schemas/InventoryTurnoverCalculatorCall"
              },
              {
                "$ref": "#/components/schemas/LandedCostCalculatorCall"
              },
              {
                "$ref": "#/components/schemas/MarginAndMarkupCalculatorCall"
              },
              {
                "$ref": "#/components/schemas/OdooAppSelectorCall"
              },
              {
                "$ref": "#/components/schemas/OdooConfTunerCall"
              },
              {
                "$ref": "#/components/schemas/OdooEdiReadinessCostEstimatorCall"
              },
              {
                "$ref": "#/components/schemas/OdooImplementationCostCalculatorCall"
              },
              {
                "$ref": "#/components/schemas/OdooMigrationCostCalculatorCall"
              },
              {
                "$ref": "#/components/schemas/OdooProjectRescueRiskGraderCall"
              },
              {
                "$ref": "#/components/schemas/OdooRoiCalculatorCall"
              },
              {
                "$ref": "#/components/schemas/OdooShPricingCalculatorCall"
              },
              {
                "$ref": "#/components/schemas/OdooStackSavingsCalculatorCall"
              },
              {
                "$ref": "#/components/schemas/OdooTotalCostOfOwnershipCalculatorCall"
              },
              {
                "$ref": "#/components/schemas/OdooUpgradeCostCalculatorCall"
              },
              {
                "$ref": "#/components/schemas/OeeCalculatorCall"
              },
              {
                "$ref": "#/components/schemas/ReorderPointCalculatorCall"
              },
              {
                "$ref": "#/components/schemas/SafetyStockCalculatorCall"
              },
              {
                "$ref": "#/components/schemas/UsSalesTaxCalculatorCall"
              },
              {
                "$ref": "#/components/schemas/UsSalesTaxNexusCheckerCall"
              }
            ],
            "discriminator": {
              "propertyName": "name",
              "mapping": {
                "ask_octura": "#/components/schemas/AskOcturaCall",
                "canadian-payroll-source-deductions-calculator": "#/components/schemas/CanadianPayrollSourceDeductionsCalculatorCall",
                "canadian-sales-tax-calculator": "#/components/schemas/CanadianSalesTaxCalculatorCall",
                "compare_odoo_vs": "#/components/schemas/CompareOdooVsCall",
                "economic-order-quantity-calculator": "#/components/schemas/EconomicOrderQuantityCalculatorCall",
                "erp-selection-tool": "#/components/schemas/ErpSelectionToolCall",
                "eu-vat-calculator": "#/components/schemas/EuVatCalculatorCall",
                "find_odoo_apps_for": "#/components/schemas/FindOdooAppsForCall",
                "get_odoo_pricing": "#/components/schemas/GetOdooPricingCall",
                "get_partner_profile": "#/components/schemas/GetPartnerProfileCall",
                "inventory-carrying-cost-calculator": "#/components/schemas/InventoryCarryingCostCalculatorCall",
                "inventory-turnover-calculator": "#/components/schemas/InventoryTurnoverCalculatorCall",
                "landed-cost-calculator": "#/components/schemas/LandedCostCalculatorCall",
                "margin-and-markup-calculator": "#/components/schemas/MarginAndMarkupCalculatorCall",
                "odoo-app-selector": "#/components/schemas/OdooAppSelectorCall",
                "odoo-conf-tuner": "#/components/schemas/OdooConfTunerCall",
                "odoo-edi-readiness-cost-estimator": "#/components/schemas/OdooEdiReadinessCostEstimatorCall",
                "odoo-implementation-cost-calculator": "#/components/schemas/OdooImplementationCostCalculatorCall",
                "odoo-migration-cost-calculator": "#/components/schemas/OdooMigrationCostCalculatorCall",
                "odoo-project-rescue-risk-grader": "#/components/schemas/OdooProjectRescueRiskGraderCall",
                "odoo-roi-calculator": "#/components/schemas/OdooRoiCalculatorCall",
                "odoo-sh-pricing-calculator": "#/components/schemas/OdooShPricingCalculatorCall",
                "odoo-stack-savings-calculator": "#/components/schemas/OdooStackSavingsCalculatorCall",
                "odoo-total-cost-of-ownership-calculator": "#/components/schemas/OdooTotalCostOfOwnershipCalculatorCall",
                "odoo-upgrade-cost-calculator": "#/components/schemas/OdooUpgradeCostCalculatorCall",
                "oee-calculator": "#/components/schemas/OeeCalculatorCall",
                "reorder-point-calculator": "#/components/schemas/ReorderPointCalculatorCall",
                "safety-stock-calculator": "#/components/schemas/SafetyStockCalculatorCall",
                "us-sales-tax-calculator": "#/components/schemas/UsSalesTaxCalculatorCall",
                "us-sales-tax-nexus-checker": "#/components/schemas/UsSalesTaxNexusCheckerCall"
              }
            }
          }
        }
      },
      "ToolsCallResult": {
        "type": "object",
        "required": [
          "jsonrpc",
          "id",
          "result"
        ],
        "properties": {
          "jsonrpc": {
            "const": "2.0"
          },
          "id": {
            "$ref": "#/components/schemas/JsonRpcId"
          },
          "result": {
            "type": "object",
            "required": [
              "content"
            ],
            "properties": {
              "content": {
                "type": "array",
                "description": "One text item whose text is a JSON document: {\"tool\", \"input\", \"result\"}. \"input\" echoes the normalized arguments the calculator actually used, so the result can be checked.",
                "items": {
                  "type": "object",
                  "required": [
                    "type",
                    "text"
                  ],
                  "properties": {
                    "type": {
                      "const": "text"
                    },
                    "text": {
                      "type": "string",
                      "contentMediaType": "application/json"
                    }
                  }
                }
              },
              "isError": {
                "type": "boolean"
              }
            }
          }
        }
      },
      "AskOcturaInput": {
        "title": "Ask Octura (search the site)",
        "description": "Retrieve the most relevant pages from octurasolutions.com (guides, Odoo vs X comparisons, Odoo app pages, pricing, partner info) for an Odoo or ERP question, so you can answer grounded in Octura content and cite the source URLs. Retrieval only; you compose the answer.",
        "type": "object",
        "properties": {
          "question": {
            "type": "string",
            "description": "The user question about Odoo, ERP, or Octura, in natural language."
          },
          "limit": {
            "type": "integer",
            "description": "Max sources to return (1 to 10, default 5).",
            "minimum": 1,
            "maximum": 10
          }
        },
        "additionalProperties": false
      },
      "AskOcturaCall": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "const": "ask_octura"
          },
          "arguments": {
            "$ref": "#/components/schemas/AskOcturaInput"
          }
        }
      },
      "CanadianPayrollSourceDeductionsCalculatorInput": {
        "title": "Canadian Payroll Deductions Calculator",
        "description": "CPP, EI, and income tax source deductions.",
        "type": "object",
        "properties": {
          "grossPerPeriod": {
            "type": "number",
            "minimum": 0,
            "default": 2000
          },
          "payFrequency": {
            "type": "integer",
            "enum": [
              52,
              26,
              24,
              12
            ],
            "default": 26
          },
          "province": {
            "type": "string",
            "enum": [
              "AB",
              "BC",
              "MB",
              "NB",
              "NL",
              "NS",
              "NT",
              "NU",
              "ON",
              "PE",
              "QC",
              "SK",
              "YT"
            ],
            "default": "ON"
          },
          "cppExempt": {
            "type": "boolean",
            "default": false
          },
          "eiExempt": {
            "type": "boolean",
            "default": false
          }
        },
        "additionalProperties": false
      },
      "CanadianPayrollSourceDeductionsCalculatorCall": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "const": "canadian-payroll-source-deductions-calculator"
          },
          "arguments": {
            "$ref": "#/components/schemas/CanadianPayrollSourceDeductionsCalculatorInput"
          }
        }
      },
      "CanadianSalesTaxCalculatorInput": {
        "title": "Canadian Sales Tax Calculator",
        "description": "GST, HST, PST, and QST for all provinces.",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "minimum": 0,
            "description": "Pre-tax in add mode, tax-included total in extract mode (CAD).",
            "default": 100
          },
          "province": {
            "type": "string",
            "enum": [
              "AB",
              "BC",
              "MB",
              "NB",
              "NL",
              "NS",
              "NT",
              "NU",
              "ON",
              "PE",
              "QC",
              "SK",
              "YT"
            ],
            "default": "ON"
          },
          "direction": {
            "type": "string",
            "enum": [
              "add",
              "extract"
            ],
            "default": "add"
          }
        },
        "additionalProperties": false
      },
      "CanadianSalesTaxCalculatorCall": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "const": "canadian-sales-tax-calculator"
          },
          "arguments": {
            "$ref": "#/components/schemas/CanadianSalesTaxCalculatorInput"
          }
        }
      },
      "CompareOdooVsInput": {
        "title": "Compare Odoo vs a competitor",
        "description": "Return the Octura head-to-head comparison of Odoo against a named ERP or CRM competitor: verdict tally, feature-by-feature table, strengths on each side, best-for guidance, FAQ and the page URL. Covers 60 competitors.",
        "type": "object",
        "properties": {
          "competitor": {
            "type": "string",
            "description": "Competitor name or slug, e.g. \"NetSuite\", \"Microsoft Dynamics 365\", \"ERPNext\", \"SAP Business One\", \"QuickBooks\", \"Zoho\"."
          }
        },
        "additionalProperties": false
      },
      "CompareOdooVsCall": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "const": "compare_odoo_vs"
          },
          "arguments": {
            "$ref": "#/components/schemas/CompareOdooVsInput"
          }
        }
      },
      "EconomicOrderQuantityCalculatorInput": {
        "title": "EOQ Calculator",
        "description": "Optimal order quantity to minimize cost.",
        "type": "object",
        "properties": {
          "annualDemand": {
            "type": "number",
            "minimum": 0,
            "maximum": 1000000000,
            "default": 10000
          },
          "orderCost": {
            "type": "number",
            "minimum": 0,
            "maximum": 1000000000,
            "default": 50
          },
          "holdingCostPerUnit": {
            "type": "number",
            "minimum": 0,
            "maximum": 1000000000,
            "default": 2
          }
        },
        "additionalProperties": false
      },
      "EconomicOrderQuantityCalculatorCall": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "const": "economic-order-quantity-calculator"
          },
          "arguments": {
            "$ref": "#/components/schemas/EconomicOrderQuantityCalculatorInput"
          }
        }
      },
      "ErpSelectionToolInput": {
        "title": "ERP Selection Tool",
        "description": "Score your best-fit ERP shortlist across 10 systems.",
        "type": "object",
        "properties": {
          "industry": {
            "type": "string",
            "enum": [
              "manufacturing",
              "wholesale-distribution",
              "retail",
              "ecommerce",
              "construction",
              "professional-services",
              "nonprofits",
              "field-service",
              "healthcare",
              "real-estate",
              "transportation",
              "other"
            ],
            "default": "manufacturing"
          },
          "size": {
            "type": "string",
            "enum": [
              "micro",
              "small",
              "mid",
              "large",
              "enterprise"
            ],
            "default": "mid"
          },
          "deployment": {
            "type": "string",
            "enum": [
              "cloud",
              "either",
              "onprem"
            ],
            "default": "either"
          },
          "budget": {
            "type": "string",
            "enum": [
              "lean",
              "moderate",
              "enterprise"
            ],
            "default": "moderate"
          },
          "needs": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "manufacturing-mrp",
                "multi-entity",
                "ecommerce",
                "field-service",
                "project-services",
                "accounting-compliance",
                "inventory-distribution",
                "crm-sales"
              ]
            },
            "default": [
              "manufacturing-mrp",
              "inventory-distribution",
              "accounting-compliance"
            ]
          },
          "incumbent": {
            "type": "string",
            "enum": [
              "spreadsheets",
              "quickbooks",
              "xero",
              "sage",
              "netsuite",
              "dynamics-365",
              "zoho",
              "sap",
              "other",
              "none"
            ],
            "default": "quickbooks"
          },
          "customization": {
            "type": "string",
            "enum": [
              "turnkey",
              "some",
              "heavy"
            ],
            "default": "some"
          },
          "region": {
            "type": "string",
            "enum": [
              "us",
              "canada",
              "france-eu",
              "other"
            ],
            "default": "us"
          }
        },
        "additionalProperties": false
      },
      "ErpSelectionToolCall": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "const": "erp-selection-tool"
          },
          "arguments": {
            "$ref": "#/components/schemas/ErpSelectionToolInput"
          }
        }
      },
      "EuVatCalculatorInput": {
        "title": "EU VAT Calculator & Validator",
        "description": "VAT rates by country plus VIES validation.",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "minimum": 0,
            "description": "Net amount in add mode, gross (VAT-included) total in extract mode.",
            "default": 100
          },
          "country": {
            "type": "string",
            "description": "ISO alpha-2 country code (EU-27 + GB; GR for Greece).",
            "default": "FR"
          },
          "direction": {
            "type": "string",
            "enum": [
              "add",
              "extract"
            ],
            "default": "add"
          }
        },
        "additionalProperties": false
      },
      "EuVatCalculatorCall": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "const": "eu-vat-calculator"
          },
          "arguments": {
            "$ref": "#/components/schemas/EuVatCalculatorInput"
          }
        }
      },
      "FindOdooAppsForInput": {
        "title": "Find Odoo apps for a need",
        "description": "Given a business need in plain language, return the most relevant Odoo apps and modules with their pillar and page URL, so you can recommend the right Odoo stack. Backed by the Octura Odoo app catalog.",
        "type": "object",
        "properties": {
          "need": {
            "type": "string",
            "description": "A business need or goal, e.g. \"track leads and close deals\", \"manage inventory and warehouse\", \"run payroll\"."
          }
        },
        "additionalProperties": false
      },
      "FindOdooAppsForCall": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "const": "find_odoo_apps_for"
          },
          "arguments": {
            "$ref": "#/components/schemas/FindOdooAppsForInput"
          }
        }
      },
      "GetOdooPricingInput": {
        "title": "Get Odoo pricing",
        "description": "Return current Odoo license list pricing (Standard and Custom tiers, USD and CAD) and Odoo.sh hosting rates from the single Octura pricing source, plus links to the pricing page and cost calculators. Implementation is quoted per project.",
        "type": "object",
        "properties": {},
        "additionalProperties": false
      },
      "GetOdooPricingCall": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "const": "get_odoo_pricing"
          },
          "arguments": {
            "$ref": "#/components/schemas/GetOdooPricingInput"
          }
        }
      },
      "GetPartnerProfileInput": {
        "title": "Get Octura partner profile",
        "description": "Return who Octura Solutions is: Official Odoo Partner status, regions served, services with URLs, website and contact details, so you can represent the company accurately.",
        "type": "object",
        "properties": {},
        "additionalProperties": false
      },
      "GetPartnerProfileCall": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "const": "get_partner_profile"
          },
          "arguments": {
            "$ref": "#/components/schemas/GetPartnerProfileInput"
          }
        }
      },
      "InventoryCarryingCostCalculatorInput": {
        "title": "Inventory Carrying Cost Calculator",
        "description": "Annual cost of holding inventory.",
        "type": "object",
        "properties": {
          "avgInventoryValue": {
            "type": "number",
            "minimum": 0,
            "maximum": 1000000000,
            "default": 100000
          },
          "carryingRatePercent": {
            "type": "number",
            "minimum": 0,
            "maximum": 100,
            "default": 25
          }
        },
        "additionalProperties": false
      },
      "InventoryCarryingCostCalculatorCall": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "const": "inventory-carrying-cost-calculator"
          },
          "arguments": {
            "$ref": "#/components/schemas/InventoryCarryingCostCalculatorInput"
          }
        }
      },
      "InventoryTurnoverCalculatorInput": {
        "title": "Inventory Turnover Calculator",
        "description": "Turnover ratio and days of inventory.",
        "type": "object",
        "properties": {
          "annualCOGS": {
            "type": "number",
            "minimum": 0,
            "maximum": 1000000000,
            "default": 500000
          },
          "avgInventoryValue": {
            "type": "number",
            "minimum": 0,
            "maximum": 1000000000,
            "default": 100000
          }
        },
        "additionalProperties": false
      },
      "InventoryTurnoverCalculatorCall": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "const": "inventory-turnover-calculator"
          },
          "arguments": {
            "$ref": "#/components/schemas/InventoryTurnoverCalculatorInput"
          }
        }
      },
      "LandedCostCalculatorInput": {
        "title": "Landed Cost Calculator",
        "description": "True per-unit cost including freight and duty.",
        "type": "object",
        "properties": {
          "productCost": {
            "type": "number",
            "minimum": 0,
            "maximum": 1000000000,
            "default": 10000
          },
          "freight": {
            "type": "number",
            "minimum": 0,
            "maximum": 1000000000,
            "default": 1200
          },
          "customsDuty": {
            "type": "number",
            "minimum": 0,
            "maximum": 1000000000,
            "default": 650
          },
          "insurance": {
            "type": "number",
            "minimum": 0,
            "maximum": 1000000000,
            "default": 150
          },
          "otherFees": {
            "type": "number",
            "minimum": 0,
            "maximum": 1000000000,
            "default": 300
          },
          "quantity": {
            "type": "number",
            "minimum": 0,
            "maximum": 1000000000,
            "default": 500
          }
        },
        "additionalProperties": false
      },
      "LandedCostCalculatorCall": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "const": "landed-cost-calculator"
          },
          "arguments": {
            "$ref": "#/components/schemas/LandedCostCalculatorInput"
          }
        }
      },
      "MarginAndMarkupCalculatorInput": {
        "title": "Margin & Markup Calculator",
        "description": "Convert between margin, markup, and price.",
        "type": "object",
        "properties": {
          "mode": {
            "type": "string",
            "enum": [
              "fromPrice",
              "fromMargin"
            ],
            "default": "fromPrice"
          },
          "cost": {
            "type": "number",
            "minimum": 0,
            "maximum": 1000000000,
            "default": 60
          },
          "price": {
            "type": "number",
            "minimum": 0,
            "maximum": 1000000000,
            "default": 100
          },
          "targetMarginPercent": {
            "type": "number",
            "minimum": 0,
            "maximum": 100,
            "default": 40
          }
        },
        "additionalProperties": false
      },
      "MarginAndMarkupCalculatorCall": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "const": "margin-and-markup-calculator"
          },
          "arguments": {
            "$ref": "#/components/schemas/MarginAndMarkupCalculatorInput"
          }
        }
      },
      "OdooAppSelectorInput": {
        "title": "Odoo App Selector",
        "description": "Find the Odoo apps your business needs.",
        "type": "object",
        "properties": {
          "businessType": {
            "type": "string",
            "enum": [
              "services",
              "retail",
              "manufacturing",
              "wholesale"
            ],
            "default": "services"
          },
          "users": {
            "type": "integer",
            "minimum": 1,
            "maximum": 1000,
            "default": 10
          },
          "needs": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "sales",
                "crm",
                "ecommerce",
                "pos",
                "marketing",
                "website",
                "inventory",
                "manufacturing",
                "purchasing",
                "project",
                "fieldservice",
                "accounting",
                "subscriptions",
                "hr",
                "helpdesk",
                "docsign",
                "knowledge",
                "custom"
              ]
            },
            "default": [
              "sales",
              "crm",
              "accounting"
            ]
          }
        },
        "additionalProperties": false
      },
      "OdooAppSelectorCall": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "const": "odoo-app-selector"
          },
          "arguments": {
            "$ref": "#/components/schemas/OdooAppSelectorInput"
          }
        }
      },
      "OdooConfTunerInput": {
        "title": "Odoo Worker & Memory Tuner",
        "description": "Tune odoo.conf workers and memory limits.",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "enum": [
              15,
              16,
              17,
              18,
              19
            ],
            "default": 18
          },
          "profile": {
            "type": "string",
            "enum": [
              "production",
              "staging",
              "dev"
            ],
            "default": "production"
          },
          "cpuCores": {
            "type": "integer",
            "minimum": 1,
            "maximum": 128,
            "default": 4
          },
          "totalRamMb": {
            "type": "integer",
            "minimum": 512,
            "maximum": 1048576,
            "default": 8192
          },
          "concurrentUsers": {
            "type": "integer",
            "minimum": 1,
            "maximum": 10000,
            "default": 25
          },
          "proxyMode": {
            "type": "boolean",
            "default": true
          },
          "sharedWithPostgres": {
            "type": "boolean",
            "default": false
          }
        },
        "additionalProperties": false
      },
      "OdooConfTunerCall": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "const": "odoo-conf-tuner"
          },
          "arguments": {
            "$ref": "#/components/schemas/OdooConfTunerInput"
          }
        }
      },
      "OdooEdiReadinessCostEstimatorInput": {
        "title": "EDI Readiness Cost Estimator",
        "description": "Estimate EDI integration cost in Odoo.",
        "type": "object",
        "properties": {
          "retailers": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "loblaws",
                "sobeys",
                "metro",
                "walmart-canada",
                "costco-canada",
                "canadian-tire",
                "couche-tard",
                "home-depot-canada"
              ]
            },
            "default": [
              "loblaws"
            ]
          },
          "volume": {
            "type": "string",
            "enum": [
              "under500",
              "500to2k",
              "2kto10k",
              "over10k"
            ],
            "default": "500to2k"
          },
          "system": {
            "type": "string",
            "enum": [
              "odooLive",
              "odooImpl",
              "legacyErp",
              "manual"
            ],
            "default": "odooLive"
          },
          "translator": {
            "type": "string",
            "enum": [
              "sps",
              "truecommerce",
              "opentext",
              "smallSpecialist",
              "directAs2",
              "undecided"
            ],
            "default": "undecided"
          },
          "catalogue832": {
            "type": "boolean",
            "default": false
          },
          "ssccLabelling": {
            "type": "boolean",
            "default": true
          }
        },
        "additionalProperties": false
      },
      "OdooEdiReadinessCostEstimatorCall": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "const": "odoo-edi-readiness-cost-estimator"
          },
          "arguments": {
            "$ref": "#/components/schemas/OdooEdiReadinessCostEstimatorInput"
          }
        }
      },
      "OdooImplementationCostCalculatorInput": {
        "title": "Implementation Cost Calculator",
        "description": "Estimate your Odoo implementation budget.",
        "type": "object",
        "properties": {
          "userCount": {
            "type": "integer",
            "minimum": 1,
            "maximum": 500,
            "default": 25
          },
          "moduleCount": {
            "type": "integer",
            "minimum": 1,
            "maximum": 15,
            "default": 5
          },
          "complexity": {
            "type": "string",
            "enum": [
              "simple",
              "moderate",
              "complex"
            ],
            "default": "moderate"
          },
          "customization": {
            "type": "string",
            "enum": [
              "none",
              "light",
              "heavy"
            ],
            "default": "light"
          }
        },
        "additionalProperties": false
      },
      "OdooImplementationCostCalculatorCall": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "const": "odoo-implementation-cost-calculator"
          },
          "arguments": {
            "$ref": "#/components/schemas/OdooImplementationCostCalculatorInput"
          }
        }
      },
      "OdooMigrationCostCalculatorInput": {
        "title": "Migration Cost Calculator",
        "description": "Estimate the cost to migrate to Odoo.",
        "type": "object",
        "properties": {
          "source": {
            "type": "string",
            "enum": [
              "spreadsheets",
              "quickbooks",
              "xero",
              "sage50",
              "sage100",
              "sage300",
              "zoho",
              "dynamics365bc",
              "netsuite",
              "customdb",
              "sapb1",
              "saps4"
            ],
            "default": "netsuite"
          },
          "years": {
            "type": "string",
            "enum": [
              "open",
              "1-3",
              "3-7",
              "7+"
            ],
            "default": "3-7"
          },
          "volume": {
            "type": "string",
            "enum": [
              "s",
              "m",
              "l",
              "xl"
            ],
            "default": "m"
          },
          "quality": {
            "type": "string",
            "enum": [
              "clean",
              "typical",
              "messy"
            ],
            "default": "typical"
          },
          "integrations": {
            "type": "string",
            "enum": [
              "0",
              "1-2",
              "3-5",
              "6+"
            ],
            "default": "1-2"
          },
          "customsToPort": {
            "type": "string",
            "enum": [
              "none",
              "1-3",
              "4-10",
              "10+"
            ],
            "default": "1-3"
          },
          "userCount": {
            "type": "integer",
            "minimum": 1,
            "maximum": 500,
            "default": 25
          },
          "moduleCount": {
            "type": "integer",
            "minimum": 1,
            "maximum": 15,
            "default": 5
          },
          "complexity": {
            "type": "string",
            "enum": [
              "simple",
              "moderate",
              "complex"
            ],
            "default": "moderate"
          },
          "customization": {
            "type": "string",
            "enum": [
              "none",
              "light",
              "heavy"
            ],
            "default": "light"
          }
        },
        "additionalProperties": false
      },
      "OdooMigrationCostCalculatorCall": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "const": "odoo-migration-cost-calculator"
          },
          "arguments": {
            "$ref": "#/components/schemas/OdooMigrationCostCalculatorInput"
          }
        }
      },
      "OdooProjectRescueRiskGraderInput": {
        "title": "Project Rescue Risk Grader",
        "description": "Grade how badly an in-flight Odoo implementation is going.",
        "type": "object",
        "properties": {
          "goLiveSlips": {
            "type": "string",
            "enum": [
              "none",
              "one",
              "twoPlus"
            ],
            "default": "none",
            "description": "How many times the official go-live date has been pushed back."
          },
          "billingModel": {
            "type": "string",
            "enum": [
              "fixedPrice",
              "timeAndMaterialsUnder",
              "timeAndMaterialsOver"
            ],
            "default": "fixedPrice",
            "description": "How the current Odoo partner bills, and whether the original estimate has been exceeded."
          },
          "customWorkflows": {
            "type": "string",
            "enum": [
              "mostlyStandard",
              "customTested",
              "bugsAfterDone"
            ],
            "default": "mostlyStandard",
            "description": "Whether custom code is tested before handover or bugs surface in basic workflows after it is called done."
          },
          "rollbackPlan": {
            "type": "string",
            "enum": [
              "documented",
              "unsure",
              "none"
            ],
            "default": "documented",
            "description": "Whether a documented rollback plan for the data migration exists and has been seen."
          },
          "dayToDayContact": {
            "type": "string",
            "enum": [
              "engineerWeekly",
              "seniorScoper",
              "accountManager",
              "unknownManager"
            ],
            "default": "engineerWeekly",
            "description": "Who runs the project day to day, and whether the people who scoped and sold the work are still involved. Replaces the earlier engineerAccess key, whose values are still accepted."
          },
          "teamConfidence": {
            "type": "string",
            "enum": [
              "veryConfident",
              "cautious",
              "noTrust"
            ],
            "default": "veryConfident",
            "description": "How much the operations and finance teams trust the system for day one."
          },
          "followUpCadence": {
            "type": "string",
            "enum": [
              "weeklyWritten",
              "adHoc",
              "none"
            ],
            "default": "weeklyWritten",
            "description": "Whether a written weekly status update against the plan actually arrives."
          },
          "ticketSystem": {
            "type": "string",
            "enum": [
              "sharedTracker",
              "partnerOnly",
              "none"
            ],
            "default": "sharedTracker",
            "description": "Whether bugs and change requests are tracked somewhere the client can see and comment."
          },
          "roadmapClarity": {
            "type": "string",
            "enum": [
              "datedSignedOff",
              "vague",
              "none"
            ],
            "default": "datedSignedOff",
            "description": "Whether a dated, signed-off roadmap of remaining milestones exists."
          }
        },
        "additionalProperties": false
      },
      "OdooProjectRescueRiskGraderCall": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "const": "odoo-project-rescue-risk-grader"
          },
          "arguments": {
            "$ref": "#/components/schemas/OdooProjectRescueRiskGraderInput"
          }
        }
      },
      "OdooRoiCalculatorInput": {
        "title": "Odoo ROI Calculator",
        "description": "Estimate payback and multi-year ROI of Odoo.",
        "type": "object",
        "properties": {
          "currentAnnualCost": {
            "type": "number",
            "minimum": 0,
            "maximum": 1000000000,
            "default": 60000
          },
          "odooAnnualCost": {
            "type": "number",
            "minimum": 0,
            "maximum": 1000000000,
            "default": 18000
          },
          "implementationCost": {
            "type": "number",
            "minimum": 0,
            "maximum": 1000000000,
            "default": 45000
          },
          "annualEfficiencySavings": {
            "type": "number",
            "minimum": 0,
            "maximum": 1000000000,
            "default": 30000
          }
        },
        "additionalProperties": false
      },
      "OdooRoiCalculatorCall": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "const": "odoo-roi-calculator"
          },
          "arguments": {
            "$ref": "#/components/schemas/OdooRoiCalculatorInput"
          }
        }
      },
      "OdooShPricingCalculatorInput": {
        "title": "Odoo.sh Pricing Calculator",
        "description": "Estimate your Odoo.sh hosting cost.",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "enum": [
              15,
              16,
              17,
              18,
              19
            ],
            "default": 18
          },
          "namedUsers": {
            "type": "integer",
            "minimum": 1,
            "maximum": 500,
            "default": 25
          },
          "appsBand": {
            "type": "string",
            "enum": [
              "small",
              "medium",
              "large",
              "xlarge"
            ],
            "default": "medium"
          },
          "peakConcurrency": {
            "type": "integer",
            "minimum": 1,
            "maximum": 2000,
            "default": 30
          },
          "stagingBranches": {
            "type": "integer",
            "minimum": 0,
            "maximum": 10,
            "default": 1
          },
          "workerChoice": {
            "enum": [
              "auto",
              1,
              2,
              3,
              4,
              6,
              8
            ],
            "default": "auto"
          },
          "billing": {
            "type": "string",
            "enum": [
              "monthly",
              "annual"
            ],
            "default": "monthly"
          }
        },
        "additionalProperties": false
      },
      "OdooShPricingCalculatorCall": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "const": "odoo-sh-pricing-calculator"
          },
          "arguments": {
            "$ref": "#/components/schemas/OdooShPricingCalculatorInput"
          }
        }
      },
      "OdooStackSavingsCalculatorInput": {
        "title": "Stack Savings Calculator",
        "description": "See what consolidating tools into Odoo saves.",
        "type": "object",
        "properties": {
          "users": {
            "type": "integer",
            "minimum": 1,
            "maximum": 1000,
            "default": 25
          },
          "selected": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Competitor tool slugs being consolidated; unknown slugs are ignored.",
            "default": [
              "crm",
              "accounting",
              "marketing",
              "ecommerce"
            ]
          }
        },
        "additionalProperties": false
      },
      "OdooStackSavingsCalculatorCall": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "const": "odoo-stack-savings-calculator"
          },
          "arguments": {
            "$ref": "#/components/schemas/OdooStackSavingsCalculatorInput"
          }
        }
      },
      "OdooTotalCostOfOwnershipCalculatorInput": {
        "title": "Total Cost of Ownership Calculator",
        "description": "Model the multi-year total cost of Odoo.",
        "type": "object",
        "properties": {
          "users": {
            "type": "integer",
            "minimum": 1,
            "maximum": 500,
            "default": 25
          },
          "plan": {
            "type": "string",
            "enum": [
              "standard",
              "custom"
            ],
            "default": "custom"
          },
          "hosting": {
            "type": "string",
            "enum": [
              "odoosh-standard",
              "odoosh-custom",
              "selfhost",
              "octura-pro"
            ],
            "default": "odoosh-standard"
          },
          "implScale": {
            "type": "string",
            "enum": [
              "starter",
              "growth",
              "enterprise"
            ],
            "default": "growth"
          },
          "support": {
            "type": "string",
            "enum": [
              "none",
              "essential",
              "pro"
            ],
            "default": "essential"
          },
          "training": {
            "type": "string",
            "enum": [
              "none",
              "essentials",
              "advanced",
              "full"
            ],
            "default": "essentials"
          }
        },
        "additionalProperties": false
      },
      "OdooTotalCostOfOwnershipCalculatorCall": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "const": "odoo-total-cost-of-ownership-calculator"
          },
          "arguments": {
            "$ref": "#/components/schemas/OdooTotalCostOfOwnershipCalculatorInput"
          }
        }
      },
      "OdooUpgradeCostCalculatorInput": {
        "title": "Upgrade Cost Calculator",
        "description": "Budget an Odoo version upgrade.",
        "type": "object",
        "properties": {
          "sourceVersion": {
            "type": "integer",
            "enum": [
              8,
              9,
              10,
              11,
              12,
              13,
              14,
              15,
              16,
              17,
              18
            ],
            "default": 14
          },
          "targetVersion": {
            "type": "integer",
            "enum": [
              17,
              18,
              19
            ],
            "default": 19
          },
          "customModules": {
            "type": "string",
            "enum": [
              "0",
              "1-3",
              "4-10",
              "10+"
            ],
            "default": "1-3"
          },
          "ocaModules": {
            "type": "string",
            "enum": [
              "none",
              "few",
              "many"
            ],
            "default": "few"
          },
          "dbSize": {
            "type": "string",
            "enum": [
              "s",
              "m",
              "l",
              "xl"
            ],
            "default": "m"
          },
          "downtime": {
            "type": "string",
            "enum": [
              "weekend",
              "overnight",
              "near-zero"
            ],
            "default": "weekend"
          }
        },
        "additionalProperties": false
      },
      "OdooUpgradeCostCalculatorCall": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "const": "odoo-upgrade-cost-calculator"
          },
          "arguments": {
            "$ref": "#/components/schemas/OdooUpgradeCostCalculatorInput"
          }
        }
      },
      "OeeCalculatorInput": {
        "title": "OEE Calculator",
        "description": "Overall Equipment Effectiveness for production.",
        "type": "object",
        "properties": {
          "plannedProductionTimeMin": {
            "type": "number",
            "minimum": 0,
            "default": 480
          },
          "downtimeMin": {
            "type": "number",
            "minimum": 0,
            "default": 47
          },
          "idealCycleTimeSec": {
            "type": "number",
            "minimum": 0,
            "default": 1.5
          },
          "totalUnits": {
            "type": "number",
            "minimum": 0,
            "default": 16000
          },
          "goodUnits": {
            "type": "number",
            "minimum": 0,
            "default": 15500
          }
        },
        "additionalProperties": false
      },
      "OeeCalculatorCall": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "const": "oee-calculator"
          },
          "arguments": {
            "$ref": "#/components/schemas/OeeCalculatorInput"
          }
        }
      },
      "ReorderPointCalculatorInput": {
        "title": "Reorder Point Calculator",
        "description": "When to reorder, with safety stock.",
        "type": "object",
        "properties": {
          "avgDailyUsage": {
            "type": "number",
            "minimum": 0,
            "maximum": 1000000000,
            "default": 20
          },
          "leadTimeDays": {
            "type": "number",
            "minimum": 0,
            "maximum": 1000000000,
            "default": 7
          },
          "safetyStock": {
            "type": "number",
            "minimum": 0,
            "maximum": 1000000000,
            "default": 0
          }
        },
        "additionalProperties": false
      },
      "ReorderPointCalculatorCall": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "const": "reorder-point-calculator"
          },
          "arguments": {
            "$ref": "#/components/schemas/ReorderPointCalculatorInput"
          }
        }
      },
      "SafetyStockCalculatorInput": {
        "title": "Safety Stock Calculator",
        "description": "Buffer stock for demand and lead-time swings.",
        "type": "object",
        "properties": {
          "maxDailyUsage": {
            "type": "number",
            "minimum": 0,
            "maximum": 1000000000,
            "default": 30
          },
          "maxLeadTimeDays": {
            "type": "number",
            "minimum": 0,
            "maximum": 1000000000,
            "default": 10
          },
          "avgDailyUsage": {
            "type": "number",
            "minimum": 0,
            "maximum": 1000000000,
            "default": 20
          },
          "avgLeadTimeDays": {
            "type": "number",
            "minimum": 0,
            "maximum": 1000000000,
            "default": 7
          }
        },
        "additionalProperties": false
      },
      "SafetyStockCalculatorCall": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "const": "safety-stock-calculator"
          },
          "arguments": {
            "$ref": "#/components/schemas/SafetyStockCalculatorInput"
          }
        }
      },
      "UsSalesTaxCalculatorInput": {
        "title": "US Sales Tax Calculator",
        "description": "State sales tax for all 50 states and DC.",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "minimum": 0,
            "description": "Pre-tax amount in add mode, tax-included total in extract mode (USD).",
            "default": 100
          },
          "state": {
            "type": "string",
            "description": "Two-letter US state code (e.g. CA, TX, NY).",
            "default": "CA"
          },
          "direction": {
            "type": "string",
            "enum": [
              "add",
              "extract"
            ],
            "default": "add"
          }
        },
        "additionalProperties": false
      },
      "UsSalesTaxCalculatorCall": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "const": "us-sales-tax-calculator"
          },
          "arguments": {
            "$ref": "#/components/schemas/UsSalesTaxCalculatorInput"
          }
        }
      },
      "UsSalesTaxNexusCheckerInput": {
        "title": "US Economic Nexus Checker",
        "description": "See where you must collect US sales tax.",
        "type": "object",
        "properties": {
          "state": {
            "type": "string",
            "description": "Two-letter US state code (e.g. CA, TX, NY).",
            "default": "CA"
          },
          "sales": {
            "type": "number",
            "minimum": 0,
            "description": "Annual sales into the state, USD.",
            "default": 100000
          },
          "transactions": {
            "type": "integer",
            "minimum": 0,
            "description": "Annual transaction count into the state.",
            "default": 200
          }
        },
        "additionalProperties": false
      },
      "UsSalesTaxNexusCheckerCall": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "const": "us-sales-tax-nexus-checker"
          },
          "arguments": {
            "$ref": "#/components/schemas/UsSalesTaxNexusCheckerInput"
          }
        }
      }
    }
  }
}
